{
  "presets": ["react-app"],
  "plugins": ["react-hot-loader/babel", "react-loadable/babel"],
  "env": {
    "test": {
      "presets": ["react-app"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
