{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "jQuery": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["jsx-a11y", "react", "import", "prettier", "flowtype"],
  "rules": {
    "no-new": 1,
    "no-console": 0,
    "flowtype/require-parameter-type": 2,
    "flowtype/require-types-at-top": 2,
    "flowtype/use-flow-type": 2,
    "flowtype/no-types-missing-file-annotation": 0,
    "flowtype/no-weak-types": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/jsx-filename-extension": 0,
    "react/no-unescaped-entities": 1,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0
  }
}
